ANALYSIS AND CLASSIFICATION OF THE IRIS DATASET USING THE FOLLOWING ALGORITHMS:

- Logistic regression
- KNN classifier
- Decision tree
- Support vector machine (SVM)

In [2]:
# import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [11]:
# load dataset
df = pd.read_csv("./iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##### Basic exploration of loaded dataset

In [12]:
# shape of the dataset (rows & columns)
df.shape

(150, 5)

In [13]:
# summary statistics
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df.sample(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
2             4.7          3.2           1.3          0.2      Setosa
14            5.8          4.0           1.2          0.2      Setosa
12            4.8          3.0           1.4          0.1      Setosa
29            4.7          3.2           1.6          0.2      Setosa
97            6.2          2.9           4.3          1.3  Versicolor
44            5.1          3.8           1.9          0.4      Setosa
132           6.4          2.8           5.6          2.2   Virginica
111           6.4          2.7           5.3          1.9   Virginica
101           5.8          2.7           5.1          1.9   Virginica
93            5.0          2.3           3.3          1.0  Versicolor

In [15]:
# add new column from product of sepal.length and sepal.width
df["sepal.product"] = df["sepal.length"] * df["sepal.width"]
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  sepal.product
0           5.1          3.5           1.4          0.2  Setosa          17.85
1           4.9          3.0           1.4          0.2  Setosa          14.70
2           4.7          3.2           1.3          0.2  Setosa          15.04
3           4.6          3.1           1.5          0.2  Setosa          14.26
4           5.0          3.6           1.4          0.2  Setosa          18.00

In [17]:
# What are the unique flower species contained in the dataset
df["variety"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [ ]:
# Observe relationship between sepal length and sepal width of the flowers

sns.scatterplot(df["sepal.length"], df["sepal.width"], hue=df["variety"])