ANALYSIS AND CLASSIFICATION OF THE IRIS DATASET USING THE FOLLOWING ALGORITHMS:

- Logistic regression
- KNN classifier
- Decision tree
- Support vector machine (SVM)

In [2]:
# import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [4]:
# load dataset
iris_df = pd.read_csv("./iris.csv")
iris_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##### Basic exploration of loaded dataset

In [5]:
iris_df.sample(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
3             4.6          3.1           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4  Versicolor
38            4.4          3.0           1.3          0.2      Setosa
142           5.8          2.7           5.1          1.9   Virginica
25            5.0          3.0           1.6          0.2      Setosa
112           6.8          3.0           5.5          2.1   Virginica
140           6.7          3.1           5.6          2.4   Virginica
144           6.7          3.3           5.7          2.5   Virginica
5             5.4          3.9           1.7          0.4      Setosa
90            5.5          2.6           4.4          1.2  Versicolor